
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/book', user: @user, book: @new_book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
       <h2 class="mt-3">book</h2>
       <table class="table">
         <% @book.each do |a| %>
        <tr>
          <th>
           <%= link_to user_path(@user.id) do %>
            <%= image_tag @user.get_profile_image(100, 100) %> 
           <% end %>
          </th>
         
          <th>
           <%= link_to book_path(a) do %>
            <%= a.title %>
           <% end %>
          </th>
          <th>
            <%= a.body %>
          </th>
        </tr>
         
       <% end %>
     </table>
       

    </div>
    
  </div>
</div>


